
/* Global
----------------------------------*/

body {
background: pink;
} 

/*Links*/
a {
    color: #009e15;
}
a:hover {
    color: #00c3ff;
    text-decoration: none;
}
footer a {
    color: #08f728;
}
.btn {
    background-color: #00ff1e;
    color: rgb(255, 61, 239);
    text-decoration: none;
}

.content-wrapper{
    margin: 0px auto;
    padding: 30px;
    max-width: 900px;
}

/* Home
----------------------------------*/
.home {
background:url(../images/bg-home-office-studio.jpg) no-repeat;
background-size: cover;
}
.home .content-wrapper {
    background: rgb(255,255,255 )
}
/* Resume
----------------------------------*/
.resume header::before {
    background:url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "hello";
    display: block;
    height: 375px;
}

.resume-section {
margin-bottom: 50px;
}

.resume-section h2 {
border-bottom: 2px dashed rgb(255, 0, 242);
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Header
----------------------------------*/

/* Profile
----------------------------------*/
.project-item {
display: flow-root;
margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* Projects
----------------------------------*/

/* Work Experience
----------------------------------*/

/* Education
----------------------------------*/

/* Footer
----------------------------------*/
footer {
  background: rgb(255, 2, 141);
}
/* 
----------------------------------*/

