
/* Global
----------------------------------*/

body {
background: pink;
} 

/*Links*/


/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #f6f6f6; 
    margin: 0;
}


a {
    color: #009e15;
}
a:hover {
    color: #00c3ff;
    text-decoration: none;
}
footer a {
    color: #08f728;
}
.btn {
    background-color: #00ff1e;
    color: rgb(255, 61, 239);
    text-decoration: none;
}

.content-wrapper{
    margin: 0px auto;
    padding: 30px;
    max-width: 900px;
}

/* Home
----------------------------------*/
.home {
background:url(../images/bg-home-office-studio.jpg) no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(255,255,255, 0.85);
    padding: 30px;
}

/* Resume
----------------------------------*/
.resume header::before {
    background:url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "hello";
    display: block;
    height: 375px;
}

.resume-section {
margin-bottom: 50px;
}

.resume-section h2 {
border-bottom: 2px dashed rgb(255, 0, 242);
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Header
----------------------------------*/

/* Profile
----------------------------------*/
.project-item {
display: flow-root;
margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* Projects
----------------------------------*/

/* Work Experience
----------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 2fr;
    column-gap: 20px;
}

/* Education
----------------------------------*/

/* Footer
----------------------------------*/
footer {
  background: rgb(255, 2, 141);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding:  0 20px;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}

/* 
----------------------------------*/

